{% extends 'admin-layout.html.twig' %}

{% block body %}

    <div class="main-content">

        <div class="approval-dating">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Select week</span>
                </div>
                <select class="form-control">
                    <option selected>Week 17: 22-28 April</option>
                    <option>Week 18: 29 April-5 May</option>
                </select>
            </div>
        </div>

        <div class="timesheet-approvals">
            <div class="timesheet-row">

                <div class="timesheet-block timesheet-user">
                    Glen Cilia
                </div>

                <div class="timesheet-block">
                    <div class="approval-hours">
                        40/40 HR
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <div class="timesheet-block">
                    <div class="approval-buttons">
                        <button class="btn btn-info">Details</button>
                        <button class="btn btn-success">Approve</button>
                        <button class="btn btn-danger">Decline</button>
                    </div>
                </div>

            </div>

            <div class="timesheet-row">

                <div class="timesheet-block timesheet-user">
                    Keron Goodridge
                </div>

                <div class="timesheet-block">
                    <div class="approval-hours">
                        32/40 HR
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width:75%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <div class="timesheet-block">
                    <div class="approval-buttons">
                        <button class="btn btn-info">Details</button>
                        <button class="btn btn-success">Approve</button>
                        <button class="btn btn-danger">Decline</button>
                    </div>
                </div>

            </div>

            <div class="timesheet-row">

                <div class="timesheet-block timesheet-user">
                    Kabaljit Singh
                </div>

                <div class="timesheet-block">
                    <div class="approval-hours">
                        40/40 HR
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <div class="timesheet-block">
                    <div class="approval-buttons">
                        <button class="btn btn-info">Details</button>
                        <button class="btn btn-success">Approve</button>
                        <button class="btn btn-danger">Decline</button>
                    </div>
                </div>

            </div>

            <div class="timesheet-row">

                <div class="timesheet-block timesheet-user">
                    Mikhail Churbanov
                </div>

                <div class="timesheet-block">
                    <div class="approval-hours">
                        40/40 HR
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar"
                                 style="width:100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>

                <div class="timesheet-block">
                    <div class="approval-buttons">
                        <button class="btn btn-info">Details</button>
                        <button class="btn btn-success">Approve</button>
                        <button class="btn btn-danger">Decline</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}