{% extends 'admin-layout.html.twig' %}

{% block title %} HomePage{% endblock %}

{% block body %}




    <div class="main-content" style="border: none;">

        <div class="greyout system-pages">
            <a href="">
                <div>
                    Calendar
                </div>
            </a>
            <a href="">
                <div>
                    Client Manager
                </div>
            </a>
            <a href="">
                <div>
                    Company policies
                </div>
            </a>
            <a href="">
                <div>
                    Employee directory
                </div>
            </a>
            <a href="">
                <div>
                    Issue tracking system
                </div>
            </a>
            <a href="">
                <div>
                    Leave management system
                </div>
            </a>
            <a href="">
                <div>
                    Meeting room booking system
                </div>
            </a>
            <a href="">
                <div>
                    Social events
                </div>
            </a>
            <a href="/timesheet">
                <div class="no-greyout">
                    Timesheets
                </div>
            </a>
        </div>

        <div class="about-home">
            <span>About FDM Consultants</span>
        </div>

    </div>


{% endblock %}
